.field {
  &__input {
    background-color: transparent;
    border: var(--border);
    width: 100%;
    padding: 12px;
    height: var(--input-height);
    color: var(--color-light);

    &--textarea {
      resize: none;
      height: var(--textarea-height);
    }

    &-dark {
      border: none;
    }
  }
}
