.portfolio {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  min-height: 447px;

  @include desktop {
    flex-direction: column;
    min-height: auto;
  }

  &__body {
    position: relative;

    @include desktop-above {
      max-width: 559px;
    }
  }

  &__title {
    margin-bottom: 5px;
  }

  &__description {
    margin-bottom: 27px;
  }

  &__button {
    max-width: 186px;
    width: 100%;
  }

  &__list {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    column-gap: 20px;
    position: absolute;
    right: 0;

    @include large-above {
      max-width: 873px;
    }

    @include large {
      position: relative;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    scroll-snap-align: start;
    transition: transform 0.3s ease;

    & img {
      max-width: 650px;

      @include tablet {
        max-width: 550px;
        height: auto;
      }

      @include mobile {
        max-width: 300px;
      }
    }
  }

  &__group-buttons {
    display: flex;
    column-gap: 15px;

    @include desktop-above {
      position: absolute;
      bottom: -20px;
      right: -230px;
      z-index: 10;
    }

    @include desktop {
      position: static;
      justify-content: flex-end;
      margin-top: 10px;
    }
  }

  &__group-button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &-prev,
    &-next {
      --portfolioIconColor: var(--color-light);

      @include square(50px);

      background-color: var(--color-accent);
      border-radius: 50%;

      svg {
        width: 50%;
        height: 50%;
        fill: var(--portfolioIconColor);
      }
    }
  }
}
