.standards {
  &__list {
    column-gap: 25px;
    padding-block: 100px;
    justify-items: center;

    @include tablet {
      --gridColumns: 2;

      grid-template-columns: repeat(var(--gridColumns), 1fr);
      gap: 15px;
    }

    @include mobile {
      --gridColumns: 1;

      grid-template-columns: repeat(var(--gridColumns), 1fr);
      justify-items: center;
    }
  }

  &__item {
    & img {
      width: 100%;
      height: auto;
    }
  }
}
