:root {
  --color-dark: #000;
  --color-dark-alt: #242424;
  --color-light: #fff;
  --color-gray: #525252;
  --color-gray-alt: #5f5f5f;
  --color-accent: #d62828;
  --color-accent-alt: #e4252c;

  --border: 1px solid var(--color-light);
  --border-dark: 1px solid var(--color-gray-alt);

  --border-radius-small: 5px;
  --border-radius-medium: 12px;
  --border-radius-large: 25px;

  --shadow-base: 0 12px 38px 0 rgba(0, 0, 0, 0.05);
  --shadow-alt: 0 4px 32px 0 rgba(0, 0, 0, 0.1);

  --font-family-base: 'ProximaNova', 'Roboto', sans-serif;

  --container-width: 1200px;
  --container-padding-x: 20px;

  --section-padding-y: 67px;

  --input-height: 42px;
  --textarea-height: 110px;
  --button-height: 52px;

  --transition-duration: 1s;
}
